# NEXT_PUBLIC_API_URL=http://[IPV4 ADDRESS]:5066/api/v1
# NEXT_PUBLIC_API_BASE_URL=http://[IPV4 ADDRESS]:5066/api/v1

# This one will true if backend is not connected
# NEXT_PUBLIC_USE_MOCK_DATA=false
